workdir
.DS_Store
1-core/18-067r4.doc
1-core/18-067r4.err
1-core/18-067r4.html
1-core/18-067r4.pdf
1-core/18-067r4.pdf.err
1-core/18-067r4.presentation.xml
1-core/18-067r4.xml
1-core/18-067r4.rxl
1-core/iev/
1-core/relaton/
1-core/plantuml/*.png
2-shapes/24-XXXX.doc
2-shapes/24-XXXX.err
2-shapes/24-XXXX.html
2-shapes/24-XXXX.pdf
2-shapes/24-XXXX.pdf.err
2-shapes/24-XXXX.presentation.xml
2-shapes/24-XXXX.xml
2-shapes/24-XXXX.rxl
2-shapes/iev/
2-shapes/relaton/
2-shapes/plantuml/*.png
3-geometry/24-XXXX.doc
3-geometry/24-XXXX.err
3-geometry/24-XXXX.html
3-geometry/24-XXXX.pdf
3-geometry/24-XXXX.pdf.err
3-geometry/24-XXXX.presentation.xml
3-geometry/24-XXXX.xml
3-geometry/24-XXXX.rxl
3-geometry/iev/
3-geometry/relaton/
3-geometry/plantuml/*.png
4-coverageplus/24-XXXX.doc
4-coverageplus/24-XXXX.err
4-coverageplus/24-XXXX.html
4-coverageplus/24-XXXX.pdf
4-coverageplus/24-XXXX.pdf.err
4-coverageplus/24-XXXX.presentation.xml
4-coverageplus/24-XXXX.xml
4-coverageplus/24-XXXX.rxl
4-coverageplus/iev/
4-coverageplus/relaton/
4-coverageplus/plantuml/*.png
